.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0f6d7b;
  border-color: #0f6d7b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.top5{
	margin-top: 3%
}
.right5{
	margin-right: 10px
}
.bottom5{
	margin-bottom: 3%
}
.bottom2{
	margin-bottom: 5px
}
.cyan{
	color: #fff;
	backgound-color: #17a2b8
}
.btn-primary {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0f6d7b;
  border-color: #17a2b8;
}
.btn-link:hover {
  color: #0f6d7b;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}
body {
    background-size: 100%;
    background-attachment:fixed;
    position:relative;
    background-image: url("wood.jpg");
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  opacity:0.9;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index:1;
  opacity:1
}
.content{
	position: relative;
	padding-top: 150px;
}

.fa{
	background: transparent
}
.fa-cog {
  color: black;
  background: transparent;
}

.icon-right{
	float: left;
}
.my-icon{
	line-height:40px
}

#footer{
	position:fixed;
	width: 100%;
	bottom: 0;
	font-size: 12px;
}

.blacktext{
	color:black;
}
.panel-body{
	opacity:0.8;
	background-color: #e9ecef;
	padding: 0px 20px;
	
}
.einruecken-left{
	padding: 0px 20px;
}

ul{
	list-style-type: none;
}
